<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <img src="/images/favicon.png" alt="Logo to project" class="responsive-img">
      <span>Open BD Dashboard</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#link-to "dashboard.apps" dashboard}}
          <i class="material-icons left">apps</i>
          Applications
        {{/link-to}}
      </li>
      <li>
        <a href="#" {{action "invalidateSession"}}>
          <i class="material-icons left">sentiment_very_dissatisfied</i>
          Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
