<div class="col s6">
  <div class="card horizontal">
    <div class="card-image">
      <i class="material-icons large">{{icon}}</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{describe}}</p>
      </div>
      <div class="card-action">
        {{#link-to link}}
          View {{page}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
