<h6>Edit user <b>{{model.user.pseudo}}</b></h6>

<div class="row">
  <div class="col s6 input-field">
    <input id="user_email" type="text" class="validate" value={{model.user.email}}>
    <label for="user_email" class="active">Email</label>
  </div>

  <div class="col s6 input-field">
    <input id="user_pseudo" type="text" value={{model.user.pseudo}}>
    <label for="user_pseudo" class="active">Pseudonyme</label>
  </div>

  <div class="col s12 input-field">
    <select id="user_role" class="browser-default">
      <option value="bot">Bot - User for automated task.</option>
      <option value="customer" selected>Customer - Default user.</option>
      <option value="beta">Beta - Give access to feature in BETA mode.</option>
      <option value="developer">Developer - User with have right to create application.</option>
      <option value="admin">Admin - Super user of plateform. Choose this if user edit books.</option>
      <option value="root">Root - Super user of plateform. All right. Warning dangerous user !!</option>
    </select>
  </div>

  <div class="col s12">
    <div class="col s4">
      {{#if isExpanded}}
        <button {{action "toggleBody"}} class="btn waves-effect waves-light">Hide Books</button>
        Books
        list
        <ul>
          {{#each model.serie as |book|}}
            <li>{{book.title}}</li>
          {{/each}}
        </ul>
      {{else}}
        <button {{action "toggleBody"}} class="btn waves-effect waves-light">Show Books</button>
      {{/if}}
    </div>
  </div>
</div>
