{{#if model}}
  <table class="highlight">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Pseudo</th>
        <th>Items</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.pseudo}}</td>
          <td>{{user.items}}</td>
          <td>
            {{#link-to "dashboard.users.edit" user}}
              <i class="material-icons">remove_red_eye</i>
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No users :/</p>
{{/if}}
