<div class="row">
  {{card-app
    link="dashboard.users"
    page="users"
    icon="people"
    describe="Consult list of user and show information, edit or delete them."
  }}
  {{card-app
    link="dashboard.books"
    page="books"
    icon="book"
    describe="Management for books. See books adding to plateform."
  }}
</div>
