{{outlet}}

{{#if model}}
  <table class="highlight">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |book|}}
        <tr>
          <td>{{book.title}}</td>
          <td><i class="material-icons">remove_red_eye</i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No books :/</p>
{{/if}}
