<div class="container">
  <form {{action "authenticate" on="submit"}}>
    <label for="identification">Login</label>
    {{input id="identification" placeholder="Enter Login" value=identification}}
    <label for="password">Password</label>
    {{input
      id="password"
      placeholder="Enter Password"
      type="password"
      value=password
    }}
    <button type="submit" class="waves-effect waves-light btn-small">Login</button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
